// create resets.scss for @include resets ?

@mixin flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@mixin hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra', serif;
    
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    @include flexColumn()
}

.row {
    @include flexRow()
}

.column {
    @include flexColumn()
}

.hero {
    @include hero
}