// create resets.scss for @include resets ?

// color guide
$secondary: #FA4210;

//mixins

@mixin flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@mixin hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra', serif;
    
}

@mixin aside {
  color: $secondary;
  text-decoration: none;
}

// media query mixins

@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

  // end media query section

body {
    height: 100vh;
    width: 100vw;
    @include for-size(phone-only) {
        display: flex;
    }
}

.container {
    @include flexColumn()
}

.row {
    @include flexRow()
}

.column {
    @include flexColumn()
}

.hero {
    @include hero;
    @include for-size(phone-only) {
        max-width: 75vw;
        max-height: 50vh;
        min-width: 50vw;
        min-width: 50vmax;
    }
}

#hero-span {
    color: $secondary;
}

.aside {
  @include aside();
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &a {
    @include aside();
    text-decoration: none;
  }

  &i {
    color:$secondary;
  }
}

i {
  color: $secondary;
}

.button-holder {
    @include flexRow();

    & input {background-color: $secondary};

    text-align: center;
}

.button {
    color: $secondary;

}

.card {
    @include flexColumn();
    font-family: 'Ultra', serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    & h2 {color: $secondary};
    & p {
        text-align: center;
        font-size: small;
        max-width: 65ch;

    }

    @include for-size(phone-only) {
        min-width: 75vw;
        min-width: 75vmax;
    }

}



  //media query for device accesibility

  // smartphones and touchscreens
//   @media (hover: none) and (pointer: coarse) { @content; }

  //stylus-based screens
//   @media (hover: none) and (pointer: fine) { @content; }

  //mouse and touchpads
//   @media (hover: hover) and (pointer: fine) { @content; }