// create resets.scss for @include resets ?

@mixin flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@mixin hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra', serif;
    
}

// media query mixins

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

  // end media query section

body {
    height: 100vh;
    width: 100vw;
}

.container {
    @include flexColumn()
}

.row {
    @include flexRow()
}

.column {
    @include flexColumn()
}

.hero {
    @include hero;
    @include for-phone-only {
        max-width: 75vw;
        max-height: 50vh;
    }
}

#hero-span {
    color: #FA4210
}